#   Copyright 2025 Shko Online LLC <sales@shko.online>
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

trigger:
- main

pool:
  name: 'Shko Online'

stages:
- stage: Build
  displayName: Build Stage
  jobs:
  - job: Build
    displayName: Build Job
    steps:
    - task: NuGetToolInstaller@1
      displayName: Install NuGet Tool

    - script: echo Starting build pipeline!
      displayName: 'Hello from Shko Online LLC'

    - task: NuGetCommand@2
      displayName: Restore ShkoOnline.DataverseExcelReporter.sln 
      inputs:
        restoreSolution: 'ShkoOnline.DataverseExcelReporter.sln'

    - task: VSBuild@1
      displayName: Build ShkoOnline.DataverseExcelReporter.sln
      inputs:
        solution: 'ShkoOnline.DataverseExcelReporter.sln'
        configuration: 'Release'

    - pwsh: |
        $nugetPackage = Get-Item ShkoOnline.DataverseExcelReporter/bin/Release/ShkoOnline.DataverseExcelReporter.*.nupkg
        Write-Host "###vso[task.setvariable variable=PackageVersion;isOutput=true]$($nugetPackage.Name.TrimStart("ShkoOnline.DataverseExcelReporter.").TrimEnd(".nupkg"))"
        Write-Host "###vso[task.setvariable variable=ReleaseNotes;isOutput=true]$(Get-Content -Path .\ShkoOnline.DataverseExcelReporter\ReleaseNotes.txt)"
        Rename-Item $nugetPackage ShkoOnline.DataverseExcelReporter.nupkg
        Move-Item ShkoOnline.DataverseExcelReporter/bin/Release/ShkoOnline.DataverseExcelReporter.nupkg -destination $(Build.ArtifactStagingDirectory)
      name: StageArtifacts
      displayName: Move packages to Artifacts Staging Directory

    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)'
        artifact: 'ShkoOnline.DataverseExcelReporter'
        publishLocation: 'pipeline'
      displayName: Publish Artifacts
- stage: Publish
  displayName: Publish
  dependsOn: Build
  variables: 
    PackageVersion: $[ stageDependencies.Build.Build.outputs['StageArtifacts.PackageVersion']]
    ReleaseNotes: $[ stageDependencies.Build.Build.outputs['StageArtifacts.ReleaseNotes']]
  jobs:
    - deployment: Publish_GitHub
      displayName: Publish to GitHub
      environment: Production
      strategy:
        runOnce:
          deploy:
            steps:
            - task: GitHubRelease@1
              displayName: 'GitHub release (create)'
              inputs:
                gitHubConnection: 'Shko-Online'
                repositoryName: '$(Build.Repository.Name)'
                action: 'create'
                target: '$(Build.SourceVersion)'
                tagSource: 'userSpecifiedTag'
                tag: 'v-$(PackageVersion)'
                title: 'v-$(PackageVersion)'
                releaseNotesSource: 'inline'
                releaseNotesInline: '$(ReleaseNotes)'
                assets: '$(Pipeline.Workspace)\ShkoOnline.DataverseExcelReporter\ShkoOnline.DataverseExcelReporter.nupkg'
                isDraft: true
                addChangeLog: false

    - deployment: Publish_NuGet
      displayName: Publish to NuGet
      environment: Production
      strategy:
        runOnce:
          deploy:
            steps:
            - task: NuGetCommand@2
              displayName: 'NuGet push'
              inputs:
                command: push
                packagesToPush: '$(Pipeline.Workspace)\ShkoOnline.DataverseExcelReporter\ShkoOnline.DataverseExcelReporter.nupkg'
                nuGetFeedType: external
                publishFeedCredentials: 'Shko-Online-Nuget'

    